
/* ---------------date time picker-------------------- */
.react-datetime-picker__inputGroup__input{
    /* min-width: 1.0em; */
    color: var(--text-color);
    outline: none;
}
.react-calendar{
    border-radius: 5px;
    background-color: var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}
.react-datetime-picker__clock{
    border-radius: 5px;
    background-color: var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}
.react-datetime-picker__inputGroup__input{
    background-color:  var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}


.react-datetime-picker__wrapper{
    /* max-width: 50%; */
padding: 5px;
border-color: var(--border-color)!important;
border-radius: 5px;
}

@media screen and (min-width: 720px) {
    .react-datetime-picker__wrapper {
        max-width: 50%;
    }
}

@media screen and (max-width: 719px) {
    .react-datetime-picker__wrapper {
        max-width: 100%;
    }
}

.react-datetime-picker__inputGroup__divider{
    color: var(--text-color);
    padding: 0px;
}


.react-calendar__tile--active{
    background: #144d7a !important ;
    font-weight:300;
}
.react-calendar__tile:hover{
    background: #1384da !important ;
    font-weight:300;
}
.react-calendar__tile--now {
    background: var(--background-color) !important;
}
/* -------------------------------- */
/* select background */
.bg-white{
background-color: var(--background-color-secondary) !important;
border:none !important;

}

/* -------------------------text editor--------------- */




