.container {
  margin: auto;
}

.swiper_container {
  height: 33rem;
  padding: 3rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 23rem;
  position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

@media (max-width: 720px) {
  .swiper_container {
    height: 43rem;
  }

  .swiper-slide {
    width: 19rem !important;
    height: 35rem !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 40% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 10rem !important;
  bottom: 0rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(27, 27, 27, 0.808));
}

.swiper-pagination .swiper-pagination-bullet-active {
  /* background: var(--text-header-primary); */
  background:#C07F00!;
}
