/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root {
         --background-color-primary: #ffffff;
         /* --background-color-secondary: #bf9038;  */
         /* --background-color-secondary: #c7a55e;  */
         --background-color-secondary: #d3b87e; 
         --background-color-custom: #ffffff; 

         --text-color-primary: #000000;
         --text-color-secondary: #C07F00;
         --text-header-primary: #C07F00;
         --text-header-secondary: #ffffff;
         /* --text-header-color: #CCA531; */
         --text-color: #FFFFFF;

        --border-color: #d6be8a;
        /* --text-color-secondary: #090a0a; */
        /* --text-color: #254161; */
        --button-color: #c7a55e;
        --button-hover-color: #eeea8c;
        --button-hover-ring: #faf7a3;
    }
}

@layer components{
    .active{
        @apply text-color-secondary
    }
    .inactive{
        @apply text-color-primary
    }
}

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    padding:0;
    /* font-family: "Open Sans", sans-serif; */
   
    box-sizing: border-box;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

/* this is for drawer blur backdrop..  */
.backdrop-blur-sm{
    position:fixed !important;
}
.page-container{
  max-width: 1560px;
  margin: auto;
 /* padding-top: 120px; */
 min-height: screen;
}

/* ----------------- text style----------------- */
.port-lligat-sans-regular {
  font-family: "Port Lligat Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* ---------------date time picker-------------------- */
.react-datetime-picker__inputGroup__input{
    /* min-width: 1.0em; */
    color: var(--text-color);
    outline: none;
}
.react-calendar{
    border-radius: 5px;
    background-color: var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}
.react-datetime-picker__clock{
    border-radius: 5px;
    background-color: var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}
.react-datetime-picker__inputGroup__input{
    background-color:  var(--background-color-secondary)!important;
    border-color: var(--border-color)!important;
}

.react-datetime-picker{
    width: 100% !important;
}
.react-datetime-picker__wrapper{
width: 100%;
padding: 5px;
border-color: var(--border-color)!important;
border-radius: 5px;
}


@media screen and (max-width: 719px) {
    .react-datetime-picker__wrapper {
        max-width: 100%;
    }
}

.react-datetime-picker__inputGroup__divider{
    color: var(--text-color);
    padding: 0px;
}


.react-calendar__tile--active{
    background: #144d7a !important ;
    font-weight:300;
}
.react-calendar__tile:hover{
    background: #1384da !important ;
    font-weight:300;
}
.react-calendar__tile--now {
    background: var(--background-color) !important;
}
/* -------------------------------- */

/* select background */
/* .bg-white{
background-color: var(--background-color-secondary) !important;
border:none !important;

} */


/* -------------------------text editor--------------- */
/* tinymce brand name hide */
.tox-statusbar__branding{
    display: none;
}

/* ------------------scroll bar--------------- */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
   
    background: var(--background-color-custom); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: var(--background-color-secondary); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--button-color); 
    cursor: pointer;
  }

  /* ----------------animations----------- */

  @media (prefers-reduced-motion: no-preference) {
    .animation-image{
        
        animation:fade-in linear;
        animation-timeline: view();
        /* animation-range-start:0px ;
        animation-range-end:400px ; */
        animation-range:entry;
      }
    
      .animation-header{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 2ms;
        animation-range-start:0px ;
        animation-range-end:250px ;
      }
      .animation-button{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 8ms;
        animation-range-start:0px ;
        animation-range-end:100px ;
      }
      .animation-body{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 8ms;
        animation-range-start:-5px ;
        animation-range-end:50px ;
      }
      .animation-experience-section{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 2ms;
        animation-range-start:0px ;
        animation-range-end:200px ;
      }
      .animation-banner{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 8ms;
        animation-range-start:1000px ;
        animation-range-end:350px ;
      }
      .animation-event-card{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 8ms;
        animation-range-start:0px ;
        animation-range-end:350px ;
      }
      .animation-blog-card{
        animation:fade-in linear;
        animation-timeline: view();
        animation-delay: 8ms;
        animation-range-start:0px ;
        animation-range-end:350px ;
      }
    
     
      @keyframes fade-in {
        from {scale: .4; opacity: 0;}
        to {scale: 1; opacity: 1;}
      }
  }



